div.field-tabbed_textarea ul.tabs {
	position: relative;
	top: 3px;
}

div.field-tabbed_textarea ul.tabs li {
	width: 175px;
}

div.field-tabbed_textarea ul.tabs li.new {
	width: auto;
}

div.field-tabbed_textarea ul.tabs li a.delete {
	position: absolute;
	top: 4px;
	right: 10px;
	border: none;
	color: rgba(0, 0, 0, 0.5);
}

div.field-tabbed_textarea ul.tabs li a.delete:hover {
	color: rgba(0, 0, 0, 1);
}

div.field-tabbed_textarea ul.tabs li input {
	position: relative;
	outline: none;
	top: -6px;
	border: none;
	background: transparent;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	width: 140px;
}

div.field-tabbed_textarea ul.tabs li.active {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid #fff;
	background: #f5f5f5;
	color: rgba(0, 0, 0, 0.65);
}

div.field-tabbed_textarea ul.tabs li.active input {
	font-weight: bold;
	color: #000;
}

/* CKEditor support: */
div.field-tabbed_textarea div[class^="ck_"] ul.tabs {
	top: 1px;
}

span[id^='cke_fields'] {
    display: block;
    clear: both;
}